{{! This is the post loop - each post will be output using this markup }}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
		{{#foreach posts}}
		  <section class="blog-post-section {{post_class}}">
			<div class="blog-post">
			  <h2 class="blog-post-title"><a href="{{url}}">{{{title}}}</a></h2>
			  <p class="blog-post-excerpt">
				  {{excerpt words="25"}}...
			  </p>
			  <div class="meta-info">
				<time class="meta-date" datetime="{{date format='YYYY-MM-DD'}}">
				  {{date format="MMMM DD, YYYY"}}
				</time>
				<div class="meta-tags">
					{{tags}}
				</div>
			  </div>
			</div>
		  </section>
		{{/foreach}}

		{{! Previous/next page links - displayed on every page }}
	 	<div class="text-center">{{pagination}}</div>
	</div>
</div>
