{{> "header_secondary"}}
{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

  <main class="row" role="main">

    <article class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 {{post_class}}">

      <header class="post-header">
        <h1 class="post-title">{{title}}</h1>

        <div class="meta-info meta--alt">
          <time class="meta-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD YYYY"}}</time>
          <br>
          <div class="meta-tags">
			  {{tags}}
          </div>
        </div>
      </header>

      <hr>
      <section class="post-content">
		  {{content}}
      </section>

      <footer class="post-footer">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'riteshio';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </footer>

    </article>

  </main>

{{/post}}
